@model Kodcamp.Models.VMModels.VMForumTopicMessages;
@{
    var topics = Model.Subjects;
    var messages = Model.Messages;
    var tags = Model.TagsKeyValue;
    var newsList = Model.NewsList;

    string subjectId = ViewData["SubjectId"].ToString();
    string subjectName = ViewData["SubjectName"].ToString();
}

<body>
    <style>
        .changeColor:hover {
            background-color: #BDD2B6;
        }
        .p3Font {
            font-family: "Lucida Console", "Courier New", monospace;
        }
    </style>

    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="/">Anasayfa</a></li>
                    <li><a href="/sozluk">Sözlük</a></li>
                    <li>@subjectName</li>
                </ol>
            </div>
        </div>
    </section>

    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-8 entries">
                    <article class="entry entry-single">
                        <div class="row" style="margin-left: 0.1vw; margin-right: 0.1vw; margin-bottom: 1vh;">
                            <div class="d-flex justify-content-center">
                                <h1 style="font-size: 25px; color:#F65C28">@subjectName</h1>
                            </div>

                        </div>

                        @{
                            foreach (var item in messages)
                            {
                                <span class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" style="border:none;">
                                                            <div style="min-width:100%;">
                                                                <h2 class="mb-0 opacity-45 p3Font" style="font-size:17px;">@item.Detail</h2>
                                                                <br />
                                                                <span class="float-right" style="float:left;">
                                                                    <button style="border:none; background-color:transparent;" onclick="window.location.href='/Dictionary/@subjectId/AddLike/@item.Id'">
                                                                        <i style="width:30px; height:30px;" class="bi bi-arrow-up-square"></i>
                                                                        @item.LikeCount
                                                                    </button>
                                                                </span>

                                                                <span class="float-right opacity-50 text-nowrap" style="float:right; margin-left: auto; margin-right: 0px; font-size:14px;">   <b style="color:#F65C28"> @item.WriterUserName </b> &nbsp; &nbsp; <span style="color: #2B2321">  @item.DateTimeFormatted </span> </span>
                                                            </div>
                                </span>
                            }
                        }

                        <button onclick="window.location.href='/Dictionary/AddEntry/@subjectId'" class="btn btn-outline-warning col-4 col-sm-4 col-md-4 col-lg-2 col-xl-2 float-left" type="button" style="margin-top: 2vh; color: #F65C28;">
                            Mesaj Yaz
                        </button>

                        @*<hr style="margin-top:10vh;"/>*@

                        <div class="d-flex justify-content-center" style="margin-top:10vh; margin-bottom:2vh;">
                            <a href="/sozluk">
                                <h6 style="color: #D6704F">Diğer Başlıklara Göz Atın</h6>
                            </a>
                            
                        </div>

                        @foreach (var item in topics)
                        {
                            <a href="/sozluk/@item.Url" class="list-group-item list-group-item-action d-flex gap-3 py-3 selectLink changeColor" aria-current="true" id="link-@item.Id" style="">
                                <div class="d-flex gap-2 w-100 justify-content-between">
                                    <div style="min-width:100%;">
                                        <h6 class="selectEntry" id="titl-@item.Id" style="font-size:14px;">@item.Title <span style="color: #798777"> (@item.CommentCount) </span> </h6>
                                        <span class="float-right opacity-50 text-nowrap" style="float:right; margin-left: auto; margin-right: 0px; font-size:11px;"> @item.Comments.First().DateTimeFormatted <b> @item.WriterUserName </b> </span>
                                    </div>
                                </div>
                            </a>
                        }



                        <div class="b-example-divider"></div>


                    </article>


                </div>

                <div class="col-lg-4">

                    <div class="sidebar">

                        <div class="sidebar-item ">
                            <form>
                                <input type="text" class="form-control" placeholder="Ara..." onkeyup="getQuestionsBySearch(this.value);">
                            </form>
                        </div>

                        <h3 style="margin-top:45px;" class="sidebar-title">Son Gönderiler</h3>
                        <div class="sidebar-item recent-posts">
                            @foreach (var item in newsList)
                            {
                                <div class="post-item clearfix">
                                    <a href="/haberler/@item.Url" style="cursor:pointer;">
                                        <img src="/images/news/@item.ImageUrl" alt="@item.Title">
                                    </a>
                                    <h4><a href="/Haberler/@item.Url">@item.Title</a></h4>
                                    <time datetime="2020-01-01">@item.DateCreated</time>
                                </div>
                            }
                        </div>
                        
                        <h3 style="margin-top:45px;" class="sidebar-title">Etiketler</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                @foreach (var item in tags)
                                {
                                    <li><a style="cursor:pointer;" href="/sorular">@item.Key (@item.Value)</a></li>
                                }
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/entryList.js"></script>
</body>
