@{
    Layout = null;
    @model Kodcamp.Models.VMModels.VMAdminCategory;
    var categories = Model.Categories;
    var mainCategories = Model.MainCategories;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Dashboard Template · Bootstrap v5.1</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/dashboard/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css" rel="stylesheet"> @*Ckeditor*@


    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/ckEditor/ckeditor.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @("@media") (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
</head>
<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">Siteye Dön</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="#">Sign out</a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">
                                <span data-feather="home"></span>
                                Anasayfa
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Management/Category">
                                <span data-feather="file"></span>
                                Kategoriler
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="shopping-cart"></span>
                                Haberler
                            </a>
                        </li>
                    </ul>


                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="mainId">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Haber Ekleme</h1>

                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                        </button>
                    </div>
                </div>
                <br />

                <form method="post" action="" enctype="multipart/form-data">

                    <select name="mainCategory" onchange="changeCategoryBySubCategory();" id="mainCategory" class="custom-select custom-select-lg mb-3">
                        <option value="-1"> Ana kategori seçiniz </option>
                        @foreach (var item in mainCategories)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>

                    <select name="subCategory" id="subCategory" class="custom-select custom-select-lg mb-3">
                        <option value="-1"> Alt kategori seçiniz </option>
                    </select>


                    <div class="form-group">
                        <label for="formGroupExampleInput2"></label>
                        <input name="title" type="text" class="form-control" id="formGroupExampleInput" placeholder="Başlık">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2"></label>
                        <input name="detailHeader" type="text" class="form-control" value="" id="formGroupExampleInput2" onkeyup="writeLengthCount();" placeholder="Alt Başlık">
                        <label id="lblCount"></label>
                    </div>

                    <div class="form-group">
                        <label for="formGroupExampleInput2"> Sadece Makale Eklerken</label>
                        <input name="articleHeader" type="text" class="form-control" value="" placeholder="Makale Detayı">
                    </div>

                    <textarea name="detail" class="form-control" id="editor1" style="height:1000px;"></textarea>
                    <script type="text/javascript">CKEDITOR.replace('editor1');</script>

                    <h6> Ana Resmi Seçiniz </h6>
                    <div class="form-group">
                        <label for="formGroupExampleInput2"></label>
                        <input name="image" type="file" class="form-control" id="formGroupExampleInput" placeholder="Resim Adı" onchange="readURL(this);">
                        <br />
                        <img class="d-none" id="blah" src="#" alt="your image" />
                    </div>

                    <h6> İçerikte kullanacağınız resimleri seçiniz </h6>
                    <h6> Ekleme işlemi bittikten sonra güncelleme alanından resimler içeriğe eklenecek</h6>
                    <div class="form-group">
                        <label for="formGroupExampleInput2"></label>
                        <input name="imageDetail1" type="file" class="form-control" id="formGroupExampleInput" placeholder="Resim Adı" onchange="readURL(this);">
                        <br />
                        <img class="d-none" id="blah" src="#" alt="your image" />
                    </div>

                    <div class="form-group">
                        <label for="formGroupExampleInput2"></label>
                        <input name="imageDetail2" type="file" class="form-control" id="formGroupExampleInput" placeholder="Resim Adı" onchange="readURL(this);">
                        <br />
                        <img class="d-none" id="blah" src="#" alt="your image" />
                    </div>

                    <div class="form-group">
                        <label for="formGroupExampleInput2"></label>
                        <input name="imageDetail3" type="file" class="form-control" id="formGroupExampleInput" placeholder="Resim Adı" onchange="readURL(this);">
                        <br />
                        <img class="d-none" id="blah" src="#" alt="your image" />
                    </div>

                    <button type="submit" class="btn btn-primary my-1">Kaydet</button>
                </form>






            </main>
        </div>
    </div>


    <script>
        var categories = @Html.Raw(Json.Serialize(categories));
        var mainCategories = @Html.Raw(Json.Serialize(mainCategories));

    </script>

    <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/adminCategory.js"></script>
    <script src="/js/adminAddNews.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    @*<script src="/js/dashboard.js"></script>*@
</body>
</html>
