@model Kodcamp.Models.VMModels.VMQuestionCategoryTags;
@{
    var newsList = Model.News;
    var news = newsList.Where(w => w.MainCategoryIds == "D0mN").ToList();
}
<body>
    <main id="main">
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <ol>
                        <li><a href="/">Anasayfa</a></li>
                        <li>Makaleler</li>
                    </ol>
                </div>
            </div>
        </section>

        <section id="blog" class="blog">
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-lg-8 entries" style="overflow: scroll; height:1000px;">
                        @{
                            foreach (var item in news)
                            {
                                <article class="entry">

                                    <div class="entry-img">
                                        <img src="/images/news/@item.ImageUrl" alt="@item.Title" class="img-fluid" style="width:100%; height:auto">
                                    </div>
                                    <h1 class="entry-title">
                                        <a href="/Haberler/@item.Url">@item.Title</a>
                                    </h1>
                                    <div class="entry-meta">
                                        <ul>
                                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">Kodcamp</a></li>
                                            <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="2020-01-01">@item.DateCreated</time></a></li>
                                            <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="/news/@item.Id">Yorumlar</a></li>
                                        </ul>
                                    </div>
                                    <div class="entry-content">
                                        <a href="/Haberler/@item.Url" style="cursor:pointer; color:black;">
                                            <p>
                                                @item.ArticleDetail
                                            </p>
                                        </a>
                                        
                                        <div class="read-more">
                                            <a href="/Haberler/@item.Url">Daha Fazlası</a>
                                        </div>
                                    </div>
                                </article>
                            }
                        }
                    </div>
                    <div class="col-lg-4">
                        <div class="sidebar">
                            <div class="sidebar-item ">
                                <form>
                                    <input type="text" class="form-control" placeholder="Ara...">
                                </form>
                            </div>
                            <h3 style="margin-top:45px;" class="sidebar-title">Son Gönderiler</h3>
                            <div class="sidebar-item recent-posts">
                                @foreach (var item in newsList)
                                {
                                    <div class="post-item clearfix">
                                        <a href="/Haberler/@item.Url">
                                            <img src="/images/news/@item.ImageUrl" alt="@item.Title">
                                        </a>
                                        <h4><a href="/Haberler/@item.Url">@item.Title</a></h4>
                                        <time datetime="2020-01-01">@item.DateCreated</time>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>